################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Homework2/Homework2/Homework2/obj
/Homework3/Homework3/Homework3/bin/Debug/net8.0
/Homework3/Homework3/Homework3/obj
/Homework2/Homework2/Homework2/.vs/Homework2/CopilotIndices/0.2.1657.32929
/Homework2/Homework2/Homework2/bin/Debug/net8.0
/Homework2/Homework2/Homework2/.vs/Homework2/FileContentIndex
/Homework2/Homework2/Homework2/Program.cs
/.vs
/Homework3/Homework3
