################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Homework2/Homework2/Homework2/obj
/Homework3/Homework3/Homework3/bin/Debug/net8.0
/Homework3/Homework3/Homework3/obj
